body {
    font-family: 'Viga', sans-serif;
    font-size: 20px;  
    color: black;
    background-color: whitesmoke;
}

/*INFO*/

.info-container {
    display: flex;
    justify-content: center;

}

.info {
    text-align: center;
}

/*PROJECTS*/

.projects-container {
    display: flex;
    justify-content: center;
}

.projects {
    border: 1px solid #000000;
    width: 800px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    background-color: white;
    
}

ul {
    list-style-type: none;
}

.projects-description {
    font-size: 15px;
}


img {
    width: 40%;
    height:auto;
}

a {
    color: teal;
}

a:hover {
    color: cornflowerblue;
    text-decoration: none;
}

a:visited {
    color: darkorchid;
}

/*CONTACT*/

.contact-container {
    display: flex;
    justify-content: center;
}

.contact {
    display: flex;
    justify-content: center;
    text-align: center;
    
}

/*Foot*/

footer {
    text-align: center;
}

@media screen and (max-width: ){

}