/*-----general---------------------------------------------*/
body {
  background-color: #fff5fd;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 1em;
  background-image: url("../img/guillaume-galtier-493400-unsplash.jpg");
  background-attachment: fixed;
  color: #fff5fd;
  overflow-x: hidden;
  padding-top: 10px;
}

h1 {
  text-align: center;
}

h3, h4{
  font-family: 'Calistoga', cursive;
}

p{
  font-weight: 500;
}

.hrStyle{
  border-top: #fffdff 1px solid;
}

footer {
  color: #fffdff;
  border-top: #fffdff solid 2px;
}

.frame{
  border: 5px solid white;
  padding-top: 20px;
}

.cvlink{
  text-align: center;
}

.nav {
  justify-content: space-around;
  list-style: none;
  text-align: center;
}

#my-pic{
  display: block;
  margin: 0 auto;
  height: 200px;
  width: auto;
  padding: 20px 0 20px 0;
}

#name{
  font-family: 'Calistoga', cursive;
  text-align: center;
  color: #fffdff;
}

#name h1{
  font-size: 3em;
}

#bio{
  padding: 10px 20px 0 20px;
  font-size: 1.1em;
  color: #fffdff;
  text-align: left;
}

#links i {
  color: #fffdff;
  height: 50px;
  transition: 0.8s ease;
}

#links i:hover {
  height: 50px;
  opacity: 0.6;
  filter: blur(8px);
}

#projects{
  color: #fffdff;
  text-align: center;
  padding-top: 15px;
}

#projects a{
  color: #006EE5;
}

#proj-pics{
  margin: 0 auto;
  height: auto;
  width: 200px;
  padding: 5px;
  border-radius: 10%;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

  .top{
    padding-top: 20px;
  }

  .frame{
    margin-top: 20px;
  }

  #name{
    text-align: left;
  }

  #name h1{
    font-size: 4em;
  }

  #links{
    padding-top: 5px;
  }

  #bio{
    font-size: 1.5em;  
    /* padding-top: 50px; */
  }

  #bio h3{
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 20px;
  }

  #my-pic{
    height: 350px;
    width: auto;
  }

  #projects h4{
    font-size: 2.3em;
    padding: 15px 0 ;
  }

  #projects h5{
    padding: 15px 0;
    font-size: 1.3em;
  }

  #projects p{
    font-size: 1.3em;
    padding: 20px 20px 0 50px;
    text-align: left;
  }
}

/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  
    
}*/