/*-----general---------------------------------------------*/
body {
  background-color: #fff5fd;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 1em;
  background-image: url("../img/guillaume-galtier-493400-unsplash.jpg");
  background-attachment: fixed;
  color: #fff5fd;
  overflow-x: hidden;
  padding-top: 10px;
}

h3, h4{
  font-family: 'Calistoga', cursive;
}

p{
  font-weight: 500;
}

footer {
  color: #fffdff;
  border-top: #fffdff solid 1px;
}

.nav {
  justify-content: space-around;
  list-style: none;
  text-align: center;
}

#my-pic{
  display: block;
  margin: 0 auto;
  height: 250px;
  width: auto;
  padding: 20px 0 20px 0;
}

#name{
  font-family: 'Calistoga', cursive;
  text-align: center;
  color: #fffdff;
}

#name h1{
  font-size: 3em;
}

#bio{
  padding: 20px 20px 0 20px;
  font-size: 1.1em;
  color: #fffdff;
  text-align: left;
}

#links i {
  color: #fffdff;
  height: 50px;
  transition: 0.8s ease;
}

#links i:hover {
  height: 50px;
  opacity: 0.6;
  filter: blur(8px);
}

#projects{
  padding-top: 30px;
  color: #fffdff;
  text-align: center;
}

#projects a{
  color: #006EE5;
}

#proj-pics{
  display: block;
  margin: 0 auto;
  height: auto;
  width: 200px;
  padding: 10px;
  border-radius: 10%;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  #name{
    text-align: left;
  }

  #name h1{
    font-size: 3.5em;
  }

  #bio{
    font-size: 1.5em;  
    padding-top: 50px;
  }

  #bio h3{
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 20px;
  }

  #my-pic{
    height: 350px;
    width: auto;
  }

  #projects h4{
    font-size: 2.3em;
    padding-top: 30px;
  }

  #projects p{
    font-size: 1.3em;
    padding-top: 90px;
    padding-right: 90px;
    text-align: left;
  }
}

/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  
    
}*/